###########################
# Генерированные Файлы UE #
###########################
*/Build
*/Binaries
*/Saved
*/DerivedDataCache
*/Intermediate
room/Content/StarterContent/
###########################
# Генерированные Файлы VC #
###########################
*.VC.db
